<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_cylinder">

	<!-- Include the Gazebo definitions  -->
	<xacro:include filename="gazebo.xacro"/>

		<link name="cylinder">
			<visual>
				<geometry>
					<cylinder length="0.5" radius="0.1"/>
				</geometry>
				<origin rpy="0 0 0" xyz="0 0 0"/>					
			</visual>
			
			<collision>
				<geometry>
					<cylinder length="0.5" radius="0.1"/>
				</geometry>
			</collision>
			
			<xacro:inertial_cylinder mass="1" length="0.5" radius="0.1">
        		<origin xyz="0 0 0" rpy="0 0 0"/>
    		</xacro:inertial_cylinder>
			
		</link>	

</robot>